# API Keys and Secrets
config.py
*.env

# Virtual Environment - MUST BE EXCLUDED
bot_env/
venv/
env/

# Python Cache Files
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Distribution / packaging
build/
dist/
*.egg-info/